<% layout('layout/boilerplate') %>

<div class="row">
  <h1 class="text-center">Edit Campground</h1>
</div>
<div class="col-md-6 offset-md-3">
  <form
    action="/campgrounds/<%= campground._id%>?_method=PUT"
    method="POST"
    novalidate
    class="validated-form"
    enctype="multipart/form-data"
  >
    <div class="mb-3">
      <label for="title" class="form-label">Title</label>
      <input
        class="form-control"
        type="text"
        id="title"
        name="campground[title]"
        value="<%= campground.title%>"
        required
      />
      <div class="valid-feedback">Looks good!</div>
    </div>
    <div class="mb-3">
      <label for="location" class="form-label">Location</label>
      <input
        class="form-control"
        type="text"
        id="location"
        name="campground[location]"
        value="<%= campground.location%>"
        required
      />
      <div class="valid-feedback">Looks good!</div>
    </div>

    <!-- <div class="mb-3">
      <label for="image" class="form-label">Add Images</label>
      <input type="file" name="image" id="image" multiple />
    </div> -->
    <div class="mb-3">
      <label for="price" class="form-label">Campground Price</label>
      <div class="input-group">
        <span class="input-group-text" id="price-label">$</span>
        <input
          type="text"
          class="form-control"
          placeholder="0.00"
          aria-label="Price"
          aria-describedby="price-label"
          name="campground[price]"
          value="<%= campground.price%>"
        />
        <div class="valid-feedback">Looks good!</div>
      </div>
    </div>

    <div class="mb-3">
      <label for="description" class="form-label">Description</label>
      <textarea
        class="form-control"
        type="text"
        id="description"
        name="campground[description]"
        required
      >
<%= campground.description%></textarea
      >
      <div class="valid-feedback">Looks good!</div>
    </div>
    <div class="mb-3">
      <label for="formFile" class="form-label">Add More Images</label>
      <input
        class="form-control"
        type="file"
        name="image"
        id="formFile"
        multiple
      />
    </div>
    <div class="mb-3">
      <% campground.images.forEach(function(img,i){ %>
      <img src="<%=img.thumbnail%>" alt="" class="img-thumbnail" />
      <div class="form-check-inline d-block">
        <input
          type="checkbox"
          name="deleteImages[]"
          id="image-<%=i%>"
          value="<%=img.filename%>"
        />
        <label for="image-<%=i%>">Delete? </label>
      </div>
      <%})%>
    </div>
    <div class="mb-3">
      <button class="btn btn-info">Update Campground</button>
    </div>
  </form>

  <a href="/campgrounds/<%=campground._id%>" class="mt-2"
    >Back to Campgrounds</a
  >
</div>
<script>
  (() => {
    "use strict";

    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    const forms = document.querySelectorAll(".validated-form");

    // Loop over them and prevent submission
    Array.from(forms).forEach((form) => {
      form.addEventListener(
        "submit",
        (event) => {
          if (!form.checkValidity()) {
            event.preventDefault();
            event.stopPropagation();
          }

          form.classList.add("was-validated");
        },
        false
      );
    });
  })();
</script>
